#app {
    margin-top: 20px
}

#todoList {
    margin-bottom: 10px;
    padding-left: 20px;
}

li {
    margin: 5px 0
}

.onfinish {
    margin-left: 5px !important
}

.todoTitle {
    font-size: 120%
}

#inpAdd {
    float: right;
    width: 9%;
    min-width: 90px;
}

#divInput {
    width: 90%;
}

.todoDone {
    color: grey
}